---
import '@fontsource/rokkitt'
import '@fontsource/rokkitt/variable.css'
import Link from './LinkNewTab.astro'
import { Icon } from 'astro-icon'

const { title, description, label, imageUrl, links } = Astro.props
---

<li id={label}>
  <h2>{title}</h2>
  <p>{description}</p>
  <div class="container">
    <img src={imageUrl} />
    <div class="link-container">
      {
        links.map((item) => (
          <Link link={item.url} class={'deploy-link'}>
            <Icon name={item.icon} />
            {item.content}
          </Link>
        ))
      }
    </div>
  </div>
</li>

<style>
  [astro-icon] {
    width: 1.8rem;
  }

  .container {
    display: flex;
  }

  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-inline-start: 3rem;
  }

  .deploy-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: fit-content;
    font-size: 1.5rem;
  }

  li {
    padding: 0.5rem 0;
    list-style: none;
  }

  h2 {
    margin: 2rem 0;
    padding: 0;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 4rem;
    font-weight: 800;
    line-height: 100%;
    overflow: hidden;
  }

  h2:before,
  h2:after {
    display: inline-block;
    width: 50%;
    height: 10px;
    position: relative;
    content: '';
    background-color: var(--dark);
    vertical-align: middle;
  }

  h2:before {
    margin-left: -50%;
    right: 0.5em;
  }

  h2:after {
    margin-right: -50%;
    left: 0.5em;
  }

  img {
    width: 50%;
    padding: 2px;
    transition: all ease-in 200ms;
    transition-delay: 100ms;
    box-shadow: 3px 3px 5px var(--mid);
    filter: opacity(80%);
  }

  img:hover,
  img:focus {
    transition: all ease-out 200ms;
    transform: translate(-0.5px, -0.5px);
    box-shadow: 5px 5px 9px var(--mid);
    filter: opacity(100%);
  }

  @media (prefers-color-scheme: dark) {
    h2:before,
    h2:after {
      background-color: var(--light);
    }

    img {
      box-shadow: 3px 3px 5px #111;
    }

    img:hover,
    img:focus {
      box-shadow: 5px 5px 9px #111;
    }
  }
</style>
