---
import Header from '../components/astro/Header.astro'
import Footer from '../components/astro/Footer.astro'
import Email from '../components/astro/Email.astro'
import '../styles/global.css'
import '@fontsource/albert-sans'
import '@fontsource/albert-sans/variable.css'
import '@fontsource/rokkitt'
import '@fontsource/rokkitt/variable.css'

const {
  title = 'Jordan Laurent',
  includeHeading = false,
  subtitle = 'Home',
  description = 'Software Developer in Portland, Oregon.',
  author = 'Jordan Laurent',
} = Astro.props

const errorMessage =
  "If you're seeing this, something went terribly wrong — and I would love to hear from you! Please reach out to me at the email below:"
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | {subtitle}</title>
  </head>
  <body>
    <Header />
    <main>
      {includeHeading ? <h1>{subtitle}</h1> : null}
      <slot>
        <p>{errorMessage} <Email /></p>
      </slot>
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    width: 100%;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8;
  }

  :global(h1) {
    margin: 0;
    padding: 1rem 0;
    font-family: 'Rokkitt', serif;
    font-size: 6rem;
    font-weight: 400;
    line-height: normal;
  }

  :global(p),
  :global(a),
  :global(address),
  :global(article) {
    font-size: 1.3rem;
  }

  :global(a) {
    color: var(--dark);
    text-decoration: underline dotted var(--mid);
    text-underline-offset: 0.25rem;
  }

  :global(a:hover),
  :global(a:focus) {
    outline: solid var(--dark) 2px;
    outline-offset: 1px;
    border-radius: 2px;
  }
</style>
