---
import Header from '../components/astro/Header.astro'
import Footer from '../components/astro/Footer.astro'
import Email from '../components/astro/Email.astro'
import '@fontsource/albert-sans'
import '@fontsource/albert-sans/variable.css'
import '@fontsource/rokkitt'
import '@fontsource/rokkitt/variable.css'
import '../styles/global.css'

const {
  title = 'Jordan Laurent',
  includeHeading = false,
  subtitle = 'Home',
  description = 'Software Developer in Portland, Oregon.',
  author = 'Jordan Laurent',
} = Astro.props
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} | {subtitle}</title>
  </head>
  <body>
    <Header />
    <main>
      {includeHeading ? <h1>{subtitle}</h1> : null}
      <slot>
        <section id="slotError">
          <h1 class="error-header">...whoops.</h1>
          <article>
            If you're seeing this, something went terribly wrong — and I would love to hear from you! Please reach out
            to me at <Email />.
          </article>
        </section>
      </slot>
    </main>
    <Footer />
  </body>
</html>

<style>
  .error-header {
    font-style: italic;
  }
</style>
